name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Get Version
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

    - name: Restore dependencies
      run: dotnet restore src/Mcp/RaindropMcp.csproj

    - name: Build
      run: dotnet build src/Mcp/RaindropMcp.csproj --no-restore --configuration Release /p:PackageVersion=${{ env.VERSION }}

    - name: Pack
      run: dotnet pack src/Mcp/RaindropMcp.csproj --no-build --configuration Release /p:PackageVersion=${{ env.VERSION }} --output .

    - name: Push to NuGet
      run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
